<title><%= title %> </title>
<link rel="stylesheet" href="css/user_profile.css">
<h1> <%= title %> </h1>

<% if(user.id == profile_user.id){ %>
    <!-- if user matches then show the form -->
    <form action="/users/update/<%= profile_user.id %>" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="submit"  value="Update">
    </form>
    
<%}else{%>    
    <!-- else show only the profile info -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
    
    <div class="btn-grp">
        <% let isFriend = false %>
        <% for(let friend of locals.populated_user.friends){ %>
            
            <% if(friend.to_user == profile_user.id || friend.from_user == profile_user.id){ %>
                <% isFriend = true %>
            <% } %>
            <% } %>
                
            <% if(isFriend){%>
                <button>
                    <a class="toggle-friend-btn" href="/friends/add-friend/?id=<%= profile_user.id %>">
                        Remove Friend
                    </a>
                </button>
            <% }else{%>
                <button>
                    <a class="toggle-friend-btn" href="/friends/add-friend/?id=<%= profile_user.id %>">
                        Add Friend
                    </a>
                </button>
            <% } %>          
        </div>
    <%} %>